{% extends "base.html" %}
{% block content %}

<h3> Booked Appointments </h3>

<br>

<table>
    <tr id="table">
        <th> Date </th>
        <th> Time </th>
        <th> Treatment </th>
        <th> Pet </th>
    </tr>
</table>

{% for booking in bookings %}

<table>
    <tr>
        <th> {{ booking.date }} </th>
        <th> {{ booking.time }} </th>
        <th> {{ booking.price.treatment_type }} </th>
        <th> {{ booking.pet.pet_name }} </th>
    </tr>
</table>

        {% endfor %}

<!-- {% for booking in bookings %}



        <section>
            <p> <b> Date </b> : {{ booking.date }} <br> 
                <b> Time </b> : {{ booking.time }} <br>
                <b> Treatment </b> : {{ booking.price.treatment_type }} <br>
                <b> Vet </b> : {{ booking.vet.vet_name }} <br>
                
            </p>
        </section>
    {% endfor %}  -->
<p> <br> <br><br><br><br></p>


{% endblock %}