{% extends "base.html" %}
{% block content %}

<h3 id="add-heading"> Edit or Update Pet Here </h3>

<form action="/pets/{{ pet.id }}" method="POST" id="add-box">

    <div id="add-content-box">
        
        <label for="pet_name"> Pet Name </label>
        <input type="text" id="pet_name" name="pet_name" value="{{ pet.pet_name }}" required autofocus> <br>

        <label for="dob"> Date of Birth </label>
        <input type="text" id="dob" name="dob" value="{{ pet.dob }}" required autofocus> <br>

        <label for="pet_type"> Pet Type </label>
        <input type="text" id="pet_type" name="pet_type" value="{{ pet.pet_type }}" required autofocus> <br>

        <label for="owner"> Owner  </label>
            <select name="owner_id" id="owner_id">
                {% for owner in owners %}
                <option value="{{ owner.id }}" {% if owner.id == pet.owner.id %} selected {% endif %}>
                    {{ owner.first_name }} {{ owner.last_name }}
                </option>
                {% endfor %}
            </select>
    
    
    
    
        <label for="vet"> Vet </label>
            <select name="vet_id" id="vet_id">
                {% for vet in vets %}
                <option value="{{ vet.id }}" {% if vet.id == pet.vet.id %} selected {% endif %}>
                    {{ vet.vet_name }}
                </option>
                {% endfor %}
        </select>    
    
    
    <div>
        <input type="submit" id="add-button">
    </div>
</div>
</form>

{% endblock %}