{% extends "base.html" %}
{% block content %}

<div id="pets-page">

<br> 

<h3> Registered Pets </h3>


<form method="get" action="/pets/new">
    <button type="submit" id="add-new-button"> Register A New Pet </button>
</form>

<br> <br>


<div id="grid-container-owners">
    {% for pet in pets %}

        <section id="owner">
            <p> <b> {{ pet.pet_name }} </b> <br> 
                {{ pet.pet_type}} </p>
            <a href="/pets/{{ pet.id }}"> view {{ pet.pet_name}}'s profile </a>
        
            

        </section>


        
    {% endfor %}

</div>

</div>
<p> <br><br><br><br><br><br><br><br><br><br><br><br> </p>

{% endblock %}