{% extends "base.html" %}
{% block content %}
<br>
<h3 id="add-heading"> Add A New Pet </h3> <br> <br>

<form action="/pets" method="POST" id="add-box">

    <div id="add-content-box">


        <label for="pet_name"> Pet Name </label>
        <input type="text" id="pet_name" name="pet_name" placeholder="Pet name.." required> <br> <br>




   
        <label for="dob"> Date of Birth </label>
        <input type="date" id="dob" name="dob" placeholder="Date of birth.." required> <br> <br> <br>





        <label for="pet_type"> Pet Type </label>
        <input type="text" id="pet_type" name="pet_type" placeholder="Type.." required> <br>


        <label for="vet_name"> Select Vet </label>
        <select name="vet_id" id="vet_id" required>
            {% for vet in vets %}
            <option value="{{ vet.id }}">
                {{ vet.vet_name }}
            </option>
            {% endfor %}
        </select> <br>
    

    
        <label for="owner_name"> Select From Registered Owners </label>
        <select name="owner_id" id="owner_id" required>
            {% for owner in owners %}
            <option value="{{ owner.id }}">
                {{ owner.first_name }} {{ owner.last_name}}
            </option>
            {% endfor %}
        </select> <br> <br>
    
        <input id="add-button" type="submit">


    </div>    
</form>

<p> <br><br><br><br><br><br><br><br><br><br><br><br></p>


{% endblock %}