{% extends "base.html" %}
{% block content %}

<h3> Pet Profile </h3>

    

    <p id="details"> Name : {{ pet.pet_name }} <br>
        Type : {{ pet.pet_type }} <br>
        D.O.B : {{ pet.dob }} <br>
        Owner : {{ pet.owner.first_name }} {{ pet.owner.last_name }} 
            <a href="/owners/{{ pet.owner.id }}"> view {{ pet.owner.first_name }}'s full details </a> <br>
        Vet : {{ pet.vet.vet_name }} <br>

        Treatment Notes :
        <a href="/pets/{{ pet.id }}/treatments"> view all {{ pet.pet_name}}'s notes </a>


        <section>
        <a href="/pets/{{ pet.id }}/edit" id="edit-links"> Edit </a>

        <form action="/pets/{{ pet.id }}/delete" method="POST">
            <input type="submit" value="Delete" id="del-buttons">
        </form>
        </section>


    </p>


    


{% endblock %}