{% extends "base.html" %}
{% block content %}

<h3> Pet Profile </h3>

    

    <p id="details"> 
        <b> NAME : </b> {{ pet.pet_name }} <br>
        <B> TYPE : </B> {{ pet.pet_type }} <br>
        <B> DATE OF BIRTH : </B>{{ pet.dob }} <br>
        <B> VET : </B> {{ pet.vet.vet_name }} <br>
        <B> OWNER :</B> {{ pet.owner.first_name }} {{ pet.owner.last_name }} 
            <a href="/owners/{{ pet.owner.id }}"> view {{ pet.owner.first_name }}'s full details </a> <br> <br>
        

      

        <B> APPOINTMENTS : </B>
        <a href="/pets/{{ pet.id }}/bookings"> view all </a> <br>
        <B> TREATMENT NOTES : </B>
        <a href="/pets/{{ pet.id }}/treatments"> view all </a> <br>


        <section>
        <a href="/pets/{{ pet.id }}/edit" id="edit-links"> Edit </a>

        <form action="/pets/{{ pet.id }}/delete" method="POST">
            <input type="submit" value="Deregister Pet" id="del-buttons">
        </form>
        </section>


    </p>


    
    <P> <BR> <BR> <BR> <BR> <BR> <BR> </P>

{% endblock %}