{% extends "base.html" %}
{% block content %}

<h3 id="add-heading"> Update Booking </h3>

<form action="/bookings/{{ booking.id }}" method="POST" id="add-box">

    <div id="add-content-box">
        
        <label for="date"> Date </label>
        <input type="date" id="date" name="date" value="{{ booking.date }}" required autofocus> <br><br>

        <label for="time"> Time </label>
        <input type="text" id="time" name="time" value="{{ booking.time}}" required autofocus> <br> <br> <br> 


        <label for="pet"> Pet </label>
        <select name="pet_id" id="pet_id">
            {% for pet in pets %}
            <option value="{{ pet.id }}" {% if pet.id == booking.pet.id %} selected {% endif %}>
                {{ pet.pet_name }}
            </option>
            {% endfor %}
    </select>    
    
    
    
    
        <label for="price"> Treatment </label>
            <select name="price_id" id="price_id">
                {% for price in prices %}
                <option value="{{ price.id }}" {% if price.id == booking.price.id %} selected {% endif %}>
                    {{ price.treatment_type }}
                </option>
                {% endfor %}
        </select>    

        <label for="vet"> Vet </label>
        <select name="vet_id" id="vet_id">
            {% for vet in vets %}
            <option value="{{ vet.id }}" {% if vet.id == booking.vet.id %} selected {% endif %}>
                {{ vet.vet_name }}
            </option>
            {% endfor %}
    </select>    
    
    
    <div>
        <input type="submit" id="add-button">
    </div>
</div>
</form>

{% endblock %}