{% extends "base.html" %}
{% block content %}

<div id="bookings-page">

<section class="pets" id="grid-container">
    <br> 
    
    <h3> Bookings </h3>

    

  
    <br> <br>



    <table>
        <tr id="table">
            <th> Date </th>
            <th> Time </th>
            <th> Treatment </th>
            <th> Pet </th>
        </tr>
    </table>
    
<br><br>

    {% for booking in bookings %}
    
    <table>
        <tr>
            <th> {{ booking.date }} </th>
            <th> {{ booking.time }} </th>
            <th> {{ booking.price.treatment_type }} </th>
            <th> {{ booking.pet.pet_name }} </th>
        </tr>
    </table>
    
    
            {% endfor %}
            <br> <br> <br> <br> <br>
            <div>
                <form method="get" action="/bookings/new">
                    <button type="submit" id="add-new-book-button"> Add A New Booking </button>
                </form>
            </div> 
<p> <br> <br> <br> <br> <br> <br> <br> <br> <br> </p>
{% endblock %}

