{% extends "base.html" %}
{% block content %}

<section id="scan-page">
<br> 
<h3 id="prices-header"> Treatment & Prices </h3>

<form method="get" action="/prices/new">
    <button id="add-new-button"  type="submit"> Add A New Treatment </button>
</form>

<br> <br> 
<div id="grid-container-owners">

{% for price in prices %}
    
    <section id="price-info-box">
        <h4 id="capitals"> {{ price.treatment_type }} </h4>
        <p> 
            <b> PRICE : </b>  {{ price.price }} </b> <br>
            <b> TIME REQUIRED : </b>  {{ price.time_req }} </b> <br>
            <b> VET REQUIRED :</b> 
            
                {% if price.vet_req == True %}
        
                    <span> 	&#9989; </span>

                {% else %}

                    <span>&#10060;</span>
        
                {% endif %}
            <br>

            <b> NUMBER OF NURSES REQUIRED : </b>  {{ price.nurses_req }} </b> 
        
        </p>
        <a href="/prices/{{ price.id }}/edit"> Edit Treatment/Price Details </a>
        
    </section>
    
   

            

{% endfor %}

</div>
<P> <BR> <BR> <BR> <BR> <BR> <BR> </P>
</section>
 


{% endblock %}