{% extends "base.html" %}
{% block content %}

<section id="scan-page">

<h3 id="prices-header"> Treatment & Prices </h3>

<form method="get" action="/prices/new">
    <button id="add-button" type="submit"> Add A New Treatment </button>
</form>


<div id="grid-container-owners">

{% for price in prices %}
    
    <section id="price-info-box">
        <h4> {{ price.treatment_type }} </h4>
        <p> 
            <b> Price </b> : {{ price.price }} </b> <br>
            <b> Time Required </b> : {{ price.time_req }} </b> <br>
            <b> Vet Required </b> : 
            
                {% if price.vet_req == True %}
        
                    <span> 	&#9989; </span>

                {% else %}

                    <span>&#10060;</span>
        
                {% endif %}
            <br>

            <b> Number of Nurse Required </b> : {{ price.nurses_req }} </b> 
        
        </p>
        <a href="/prices/{{ price.id }}/edit"> Edit Treatment/Price Details </a>
        
    </section>
    
   

            

{% endfor %}

</div>
</section>

{% endblock %}