{% extends "base.html" %}
{% block content %}

<section id="treatments-page">
    
    <br> 
    <h3> All Treatment Notes </h3>

    

    <div>
        <form method="get" action="/treatments/new">
            <button type="submit" id="add-new-button" > Create A New Treatment Note </button>
        </form>
    </div> 
<br> <br>

<div id="grid-container2">

    {% for treatment in treatments %}

    <section id="owner">
        <p>
            <b> PET : </b>  {{ treatment.pet.pet_name}} <br>
            <b> VET : </b>  {{ treatment.vet.vet_name }} <br>
            <b> TREATMENT DATE : </b>  {{ treatment.treatment_date }} <br> 
            <b> TREATMENT TYPE : </b>  {{ treatment.procedure_type}} <br>
            <a id="report-link" href="/treatments/reports"> See All Related Documents & Reports </a>
            
        
        </p>
        
        <div id="treatment-buttons">
            <a href="/treatments/{{ treatment.id }}/edit" id="treat-edit-buttons"> Edit </a>
    
            <form action="/treatments/{{ treatment.id }}/delete" method="POST">
                <input type="submit" value="Delete" id="treat-del-buttons">
            </form>
        </div>
        

    </section>


    
{% endfor %}
<P> <BR> <BR> <BR> <BR> <BR> <BR> </P>
</div>





    
    </div>
    

        <p id="p1"> 
            <h4> See Notes By Vet </h4>
                {% for vet in vets %}
                    <section>
                        <a href="/vets/{{ vet.id }}/treatments"> View all {{ vet.vet_name }}'s treatment notes </a>
                    </section>
                {% endfor %}
        </p>

        <p id="p1">
            <h4> See Notes By Pet </h4>
            {% for pet in pets %}
                    <section>
                        <a href="/pets/{{ pet.id }}/treatments"> {{ pet.pet_name}}'s Treatment Notes </a>
                    </section>
                {% endfor %}
        </p>
        </p>
 
    
    
            
        

</section>
<p> <br> <br> <br> <br> <br> <br> <br> <br> <br> </p>
{% endblock %}