{% extends "base.html" %}
{% block content %}

<h3> Vets </h3>

<form method="get" action="/vets/new">
    <button id="add-button" type="submit"> Register A New Vet </button>
</form>

<div id="grid-container-vets">

{% for vet in vets %}

    <section id="vet">
        <p> {{ vet.vet_name }} <br>
        <a href="vets/{{ vet.id }}"> view full profile </a> </p> 
        <a href="/vets/{{ vet.id }}/pets"> view all {{ vet.vet_name }}'s pets </a> <br> <br>
        
        <form method="get" action="/vets/{{ vet.id }}/treatments">
        <button type="submit" id="treat-edit-buttons" > {{ vet.vet_name}}'s Treatment Notes </button>
        </form>

        <form method="get" action="/vets/{{ vet.id }}/bookings">
        <button type="submit" id="treat-edit-buttons"> {{ vet.vet_name}}'s Appointments </button>
        </form>

       

    </section>
    
{% endfor %}

</div>

{% endblock %}