{% extends "base.html" %}
{% block content %}


<div id="gridy">

    {% for treatment in treatments %}

    <section id="owner">
        <p>
            <b> PET : </b>  {{ treatment.pet.pet_name}} <br>
            
            <b> TREATMENT DATE : </b>  {{ treatment.treatment_date }} <br> 
            <b> TREATMENT TYPE : </b>  {{ treatment.procedure_type}} <br>
            <a id="report-link" href="/treatments/reports"> See All Related Documents & Reports </a>
            
        
        </p>
        
        <div id="treatment-buttons">
            <a href="/treatments/{{ treatment.id }}/edit" id="treat-edit-buttons"> Edit </a>
    
            <form action="/treatments/{{ treatment.id }}/delete" method="POST">
                <input type="submit" value="Delete" id="treat-del-buttons">
            </form>
        </div>
        

    </section>


</div>
{% endfor %}

    <BR> <br> <br> <br> <br><br> <br><br> <br><br> <br>
 
{% endblock %}