h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width:40%;
}


h3 {
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 20px;
    background: #fad2cc;
    color: black;
    /* display: block; */
    padding: 20px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* width:50%; */
    text-align: center;
}


#prices-header {
    display: flex;
    justify-self: center;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 20px;
    background: #c6fad2;
    color: black;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4 {
    text-transform: uppercase;
}