
.main-nav {
    display: flex;
    background-color: #DD9BCF;
    border-radius: 20px;
}

.main-nav li:first-child {
    margin-right: auto;
}

.logo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:xx-large;
}

.main-nav li {
    list-style: none;
}

.main-nav a {
    margin: 10px;
    border-radius: 20px;
    background: #c6fad2;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    padding: 15px;
    text-decoration: none;
}

.main-nav .logo {
    background: #DD9BCF;
}


#parallax {
    background-image: url(pup.jpg);
    min-height: 800px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #DD9BCF;
    padding: 1%;
}




#owner {
    color: black;
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    outline-style: solid;
    outline-color: black;
    margin: 10px;
    border-radius: 10px;
    margin-left: 20px;
    overflow: auto;
}

#vet {
    color: black;
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    outline-style: solid;
    outline-color: black;
    margin: 10px;
    border-radius: 10px;
    margin-left: 20px;
}

#details {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:20px;
    padding: 10px;
}

#extra-list {
    list-style: none;
}

#p1 {
    width:20%;
}

#home-page {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#scan-page {
    background-image: url(scans.jpg);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* #bookings-page {
    background-image: url(clinic.jpg);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* #pets-page {
    background-image: url(guinea-pigs.jpg);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* #nurses-page {
    background-image: url(hamster.jpg);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

#home-page2 {
    background-image: url(hamster.jpg);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#log-out {
    margin: 10px;
    border-radius: 10px;
    background: #fad2cc;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    padding: 15px;
    text-decoration: none;
}

.login-page {
    background-image: url(guinea-pigs.jpg);
    background-size: cover;
    padding:20%;
    color:white;
    
}    


#logins {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: fit-content;
}

#fp {
    display: flex;
    justify-content: center;
    margin-left:100px;
    color:white;
}

/* #booking {
    overflow: auto;
} */

#add-content-pages {
    background-image: url(paws.png);
    
}

#login-header {
    display: flex;
    justify-content: center;
    padding:10px;
    color:black;
    background-color: #DD9BCF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

table {
    table-layout: fixed;
    width: 100%;  
   
  }

#table {
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#gridy {
    width:fit-content;
    display: grid;
    grid-template-areas: 
    'section'
    'div div';
}