{% extends "base.html" %}
{% block content %}

<h3 id="add-heading"> Edit Nurse Details Here </h3>

<form action="/nurses/{{ nurse.id }}" method="POST" id="add-box">
<div id="add-content-box">
    <label for="nurse_name"> Nurse Name  </label>
        <input type="text" id="nurse_name" name="nurse_name" value="{{ nurse.nurse_name }}" required autofocus> <br>

        <label for="days_works"> Days of Work  </label>
        <input type="text" id="days_works" name="days_works" value="{{ nurse.days_works }}" required autofocus> <br>

        <label for="available_weekends"> Available to work weekends ? </label>
        <input type="text" id="available_weekends" name="available_weekends" value="{{ nurse.available_weekends }}" required autofocus> <br>

        <label for="email"> Email  </label>
        <input type="text" id="email" name="email" value="{{ nurse.email }}" required autofocus> <br>


    <div>
        <input type="submit" id="add-button">
    </div>
</div>
</form>

{% endblock %}