{% extends "base.html" %}
{% block content %}

<h3> Nurse Details </h3>

    <p id="details"> 
        <b> NAME : </b>  {{ nurse.nurse_name }} <br>
        <b> DAYS OF WORK : </b> {{ nurse.days_works }}  <br>
        
        
        <b> AVAILABLE AT WEEKENDS : </b>  
        {% if nurse.available_weekends == True %}
        
        <span> 	&#9989; </span>

        {% else %}

        <span>&#10060;</span>
        
        {% endif %}
        <br>
        
        
        <b> EMAIL :</b>  {{ nurse.email }} <br>

        <section id="grid-container-buttons">  
            
            <a href="/nurses/{{ nurse.id }}/edit" id="edit-links"> Edit Profile </a>

            <form action="/nurses/{{ nurse.id }}/delete" method="POST">
                <input type="submit" value="Delete Nurse Profile" id="del-buttons">
            </form>




        
        
        </section>    

    </p>
    

    <P> <BR> <BR> <BR> <BR> <BR> <BR> </P>

{% endblock %}