{% extends "base.html" %}
{% block content %}

<br>
<h3> Owners </h3>

<form method="get" action="/owners/new">
    <button id="add-new-button" type="submit"> Register A New Owner </button>
</form>


<br> <br>
<div id="grid-container-owners">

{% for owner in owners %}

    <section id="owner">
        <p> {{ owner.first_name }} {{ owner.last_name}} </b> </p>
        <a href="/owners/{{ owner.id }}"> view {{ owner.first_name }}'s full details </a>
    </section>
    
{% endfor %}

</div>
<p> <br> <br><br><br><br><br><br> </p>
{% endblock %}