{% extends "base.html" %}
{% block content %}

<h3> Owner Details </h3>

    <p id="details"> 
        <b> NAME :</b> {{ owner.first_name }} {{ owner.last_name}} <br>
        <b> EMAIL : </b> {{ owner.email }} <br>
        <b> CONTACT NUMBER : </b> {{ owner.mobile }}

        <section id="grid-container-buttons">  
            
            <a href="/owners/{{ owner.id }}/edit" id="edit-links"> Edit </a>

            <form action="/owners/{{ owner.id }}/delete" method="POST">
                <input type="submit" value="Delete" id="del-buttons">
            </form>




        
        
        </section>    

    </p>
    

<P> <BR> <BR> <BR> <BR> <BR> <BR> </P>

{% endblock %}