<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .parallax {
          /* The image used */
        background-image: url("/Users/fionaberkery/CodeClan_work/week_5/PROJECT/pet_village/img/pup.jpg");
        
          /* Set a specific height */
        min-height: 500px; 
        
          /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pet.css') }}">
    
    <title> Pet Village </title>
</head>
<body>
    <header>
        
        <nav>
            
            <ul class="main-nav">
                <li> <a href="#" class="logo"> Pet Village </a> </li>
                <li> <a href="/"> Home </a> </li>
                <li> <a href="/pets"> Pets </a> </li>
                <li> <a href="/vets"> Vets </a> </li>
                <li> <a href="/owners"> Owners </a> </li>
            </ul>    
        
        <nav>
            <ul class="menu">
                
            </ul> 
        </nav>   

    </header>

    
    
        {% block content %}
        {% endblock %}
    
</body>
</html>