<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title> Pet Village </title>
</head>
<body>
    <header>
        <h1> Welcome to Pet Village </h1>
        
        <nav>
            <ul class="menu">
                <li> <a href="/"> Home </a> </li>
                <li> <a href="/pets"> Pets </a> </li>
                <li> <a href="/vets"> Vets </a> </li>
            </ul> 
        </nav>   

    </header>
    
        {% block content %}
        {% endblock %}
    
</body>
</html>