{% extends "base.html" %}
{% block content %}

<nav id="treatments-link">
    <ul id="extra-list">
        <li> <a href="/treatments"> See All Treatment Notes </a> </li>
        <li> <a href="/prices"> See All Treatments & Prices Available  </a> </li>
   
</nav>




<div id="parallax"> 
    
</div>

<div style="height:1000px;background-color:#DD9BCF;font-size:36px">

    <p id="home-page"> I just want to drink coffee, <br>
        save animals, <br>
        and take naps.
        
        </p>

</div>


{% endblock %}