{% extends "base.html" %}
{% block content %}

<nav id="treatments-link">
    <ul id="extra-list">
        <li> <a href="/treatments"> See All Treatment Notes </a> </li>
        <li> <a href="/treatments/available"> See All Treatments Available  </a> </li>
        <li> <a href="/treatments/prices"> See Price List  </a> </li>
</nav>




<div id="parallax"> 
    
</div>

<div style="height:1000px;background-color:#DD9BCF;font-size:36px">

    <p id="home-page"> I just want to drink coffee, <br>
        Save animals, <br>
        And take naps.
        
        </p>

</div>


{% endblock %}